.modalEditar {
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -150px;
  position: fixed;
  background-color: black;
  display: grid;
  place-items: center;
  z-index: 10;
  border: 2px solid rgb(53, 20, 36);
  border-radius: 3px;
  padding: 2rem;
  padding-top: 1rem;
  border: 4px white double;
  border-radius: 3px;
}
.modalEditar form {
  display: grid;
  place-items: center;
  gap: 0.3rem;
  text-align: center;
}
.modalEditar .inputSubmit {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  background-color: rgb(53, 20, 36) !important;
  border-color: rgb(190, 190, 190);
}
.modalEditar .inputSubmit:hover {
  border-color: white;
  font-weight: 500 !important;
}
.modalEditar .inputClose {
  display: block;
  width: 100%;
  color: white !important;
  font-size: 1.2rem;
}
.modalEditar > form > label {
  color: white;
  font-weight: bolder;
}
.modalEditar > form > div {
  background: white;
  font-size: 0.8rem;
  padding-left: 0.1rem;
}
select {
  border: none;
}

input {
  padding-top: 0.3rem !important;
  padding-left: 0.1rem !important;
}
.modalEditar > form > .divClose {
  text-decoration: none !important;
  position: absolute;
  top: 0;
  right: 0 !important;
  cursor: pointer;
  display: inline;
  color: white;
  background: black;
}
